<div class="main-content">
    <!-- About us -->
    <div class="left box">
        <h2>ABOUT US</h2>
        <div class="content">
            <a href="/">About Pet Action</a>
            <a href="#">Terms of Use</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
    
    <!-- Popular Breeds -->
    <div class="left-centre box">
        <h2>POPULAR BREEDS</h2>
        <div class="content">
            <a href='/adoption?breed=Golden+Retriever'>Golden Retriever</a>
            <a href='/adoption?breed=German+Shepard'>German Shephard</a>
            <a href='/adoption?breed=Beagle'>Beagle</a>
            <a href='/adoption?breed=Dachschund'>Dachschund</a>
            <a href='/adoption?breed=Scottish+Fold'>Scottish Fold</a>
            <a href='/adoption?breed=Ragdoll'>Ragdoll</a>
        </div>
    </div>

    <!-- Resources -->
    <div class="right-centre box">
        <h2>RESOURCES</h2>
        <div class="content">
            <a href="https://www.rspcapuppyguide.com.au/">RSPCA Dog Buyers Guide</a>
            <a href="https://kb.rspca.org.au/wp-content/uploads/2019/01/Smart-Kitten-Cat-Buyers-Guide-July-2013.pdf">RSPCA Cat Buyers Guide</a>
            <a href="https://www.gov.uk/government/publications/animal-activities-licensing-guidance-for-local-authorities">Pet Registry Guidelines</a>
        </div>
    </div>

    <!-- Sitemap -->
    <div class="right box">
        <h2>SITEMAP</h2>
        <div class="content">
            <a href="/users/login">RESCUE & SELLER LOGIN</a>
            <a href="/users/register">RESCUE & SELLER REGISTRATION</a>
            <div class="social">
                <a href="https://www.facebook.com/"><span class="fab fa-facebook-f"></span></a>
                <a href="https://twitter.com/home"><span class="fab fa-twitter"></span></a>
                <a href="https://www.instagram.com/"><span class="fab fa-instagram"></span></a>
                <a href="https://www.youtube.com/"><span class="fab fa-youtube"></span></a>
            </div>
        </div>
    </div>
</div>